<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HydrasUI_WPF.OptionWindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="HydrasUI_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net">
      <!--init sondeInfoList data model-->
      <object id="sondeInfoListDataModel" type="HydrasBase.BaseModelImpl.BaseDataModelImpl.SondeInfoListDataModel, HydrasBase" singleton="true"></object>

      <!--init sondeDataOption data model-->
      <object id="sondeDataOptionDataModel" type="HydrasBase.BaseModelImpl.BaseDataModelImpl.SondeDataOptionDataModel, HydrasBase" singleton="true"></object>
      
      <!--init model repository with main data model instance-->
      <object id="modelRepository" type="ConfigFrame.AppInterface.ModelRepository" singleton="true">
        <property name="modelList">
          <list element-type="ConfigFrame.BaseModel.IModel">
            <ref object="sondeInfoListDataModel"/>
            <ref object="sondeDataOptionDataModel"/>
          </list>
        </property>
      </object>

      <!--init model-protocol service-->
      <object id="handsShakeService" type="HydrasBase.ModelProtocolServiceImpl.HandsShakeService, HydrasBase" singleton="true"></object>
      <object id="securityLevelService" type="HydrasBase.ModelProtocolServiceImpl.SecurityLevelService, HydrasBase" singleton="true"></object>
      <object id="deviceStorageService" type="HydrasBase.ModelProtocolServiceImpl.DeviceStorageService, HydrasBase" singleton="true"></object>
      <object id="stopInteractService" type="HydrasBase.ModelProtocolServiceImpl.StopInteractService, HydrasBase" singleton="true"></object>
      <object id="systemAndSettingService" type="HydrasBase.ModelProtocolServiceImpl.SystemAndSettingService, HydrasBase" singleton="true"></object>
      <object id="parameterInfoService" type="HydrasBase.ModelProtocolServiceImpl.ParameterInfoService, HydrasBase" singleton="true"></object>
      <object id="parameterSetupInfoService" type="HydrasBase.ModelProtocolServiceImpl.ParameterSetupInfoService, HydrasBase" singleton="true"></object>
      <object id="calibrationInfoService" type="HydrasBase.ModelProtocolServiceImpl.CalibrationInfoService, HydrasBase" singleton="true"></object>
      <object id="sdiParameterService" type="HydrasBase.ModelProtocolServiceImpl.SDIParameterService, HydrasBase" singleton="true"></object>
      <object id="dateFormatService" type="HydrasBase.ModelProtocolServiceImpl.DateFormatService, HydrasBase" singleton="true"></object>
      <object id="logFileService" type="HydrasBase.ModelProtocolServiceImpl.LogFileService, HydrasBase" singleton="true"></object>
      <object id="onlineParameterValueService" type="HydrasBase.ModelProtocolServiceImpl.OnlineParameterValueService, HydrasBase" singleton="true"></object>

      <!--init interaction validator-->
      <object id="interactionValidator" type="HydrasBase.CommunicationDataWrapper.Util.InteractionValidator" singleton="true">
      </object>

      <!--init communication service-->
      <object id="communicationService" type="HydrasBase.CommunicationService.HydrasCommunicationService, HydrasBase" singleton="false">
        <property name="TimeOut" value="1500"/>
      </object>

      <!--init executeInfo Subscriber-->
      <object id="executeInfoSubscriber" type="HydrasUI_WPF.Util.HydrasExecuteInfoSubscriber, HydrasUI_WPF" singleton="false">
      </object>
      
      <!--init handsShake controller-->
      <object id="handsShakeController" type="HydrasBase.AppInterfaceImpl.BasicController.HandsShakeController,HydrasBase" singleton="false">
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.SondeInfoDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="handsShakeService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init scanSonde controller-->
      <object id="scanSondeController" type="HydrasBase.AppInterfaceImpl.BasicController.ScanSondeController, HydrasBase" singleton="false">
        <property name="LogFileController">
          <ref object="logFileController"/>
        </property>
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.SondeInfoListDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="handsShakeService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init securityLevel controller-->
      <object id="securityLevelController" type="HydrasBase.AppInterfaceImpl.BasicController.SecurityLevelController, HydrasBase" singleton="false">
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.SecurityLevelDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="securityLevelService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init deviceStorage controller-->
      <object id="deviceStorageController" type="HydrasBase.AppInterfaceImpl.BasicController.DeviceStorageController, HydrasBase" singleton="false">
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.DeviceStorageDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="deviceStorageService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init stopInteract controller-->
      <object id="stopInteractController" type="HydrasBase.AppInterfaceImpl.BasicController.StopInteractController, HydrasBase" singleton="false">
        <property name="ModelProtocolService">
          <ref object="stopInteractService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init systemAndSetting controller-->
      <object id="systemAndSettingController" type="HydrasBase.AppInterfaceImpl.BasicController.SystemAndSettingController, HydrasBase" singleton="false">
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.SystemAndSettingListDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="systemAndSettingService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init parameterInfo controller-->
      <object id="parameterInfoController" type="HydrasBase.AppInterfaceImpl.BasicController.ParameterInfoController, HydrasBase" singleton="false">
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.ParameterInfoListDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="parameterInfoService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init ParameterSetupInfo controller-->
      <object id="parameterSetupInfoController" type="HydrasBase.AppInterfaceImpl.BasicController.ParameterSetupInfoController, HydrasBase" singleton="false">
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.ParameterSetupBaseInfoListDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="parameterSetupInfoService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init calibrationInfo controller-->
      <object id="calibrationInfoController" type="HydrasBase.AppInterfaceImpl.BasicController.CalibrationInfoController, HydrasBase" singleton="false">
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.CalibrationBaseInfoListDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="calibrationInfoService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init sdiParameter controller-->
      <object id="sdiParameterController" type="HydrasBase.AppInterfaceImpl.BasicController.SDIParameterController, HydrasBase" singleton="false">
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.SDIParameterDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="sdiParameterService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init dateFormat controller-->
      <object id="dateFormatController" type="HydrasBase.AppInterfaceImpl.BasicController.DateFormatController, HydrasBase" singleton="false">
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.DateFormatDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="dateFormatService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init logFileBaseInfo controller-->
      <object id="logFileBaseInfoController" type="HydrasBase.AppInterfaceImpl.BasicController.LogFileBaseInfoController, HydrasBase" singleton="false">
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.LogFileBaseInfoListDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="logFileService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init logFileSettingField controller-->
      <object id="logFileSettingFieldController" type="HydrasBase.AppInterfaceImpl.BasicController.LogFileSettingFieldController, HydrasBase" singleton="false">
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.LogFileSettingFieldListDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="logFileService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init logFileParameterInfo controller-->
      <object id="logFileParameterInfoController" type="HydrasBase.AppInterfaceImpl.BasicController.LogFileParameterInfoController, HydrasBase" singleton="false">
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.LogFileParameterInfoListDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="logFileService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init logFileParameterValue controller-->
      <object id="logFileParameterValueController" type="HydrasBase.AppInterfaceImpl.BasicController.LogFileParameterValueController, HydrasBase" singleton="false">
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.LogFileParameterValueListDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="logFileService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init onlineParameterValue controller-->
      <object id="onlineParameterValueController" type="HydrasBase.AppInterfaceImpl.BasicController.OnlineParameterValueController, HydrasBase" singleton="false">
        <property name="ModelType" value="HydrasBase.BaseModelImpl.BaseDataModelImpl.OnlineParameterValueDataModel, HydrasBase"/>
        <property name="ModelProtocolService">
          <ref object="onlineParameterValueService"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="InteractionValidator">
          <ref object="interactionValidator"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>
      
      <!--init scan controller-->
      <object id="scanController" type="HydrasBase.AppInterfaceImpl.ScanController,HydrasBase" singleton="true">
        <property name="ScanSondeController">
          <ref object="scanSondeController"/>
        </property>
        <property name="SecurityLevelController">
          <ref object="securityLevelController"/>
        </property>
        <property name="LogFileController">
          <ref object="logFileController"/>
        </property>
        <property name="StopInteractController">
          <ref object="stopInteractController"/>
        </property>
        <property name="LogFileParameterValueController">
          <ref object="logFileParameterValueController"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init operateSonde controller-->
      <object id="operateSondeController" type="HydrasBase.AppInterfaceImpl.OperateSondeController, HydrasBase" singleton="true">
        <property name="HandsShakeController">
          <ref object="handsShakeController"/>
        </property>
        <property name="SecurityLevelController">
          <ref object="securityLevelController"/>
        </property>
        <property name="SystemAndSettingController">
          <ref object="systemAndSettingController"/>
        </property>
        <property name="ParameterInfoController">
          <ref object="parameterInfoController"/>
        </property>
        <property name="ParameterSetupInfoController">
          <ref object="parameterSetupInfoController"/>
        </property>
        <property name="CalibrationInfoController">
          <ref object="calibrationInfoController"/>
        </property>
        <property name="SdiParameterController">
          <ref object="sdiParameterController"/>
        </property>
        <property name="LogFileController">
          <ref object="logFileController"/>
        </property>
        <property name="StopInteractController">
          <ref object="stopInteractController"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>

      <!--init logFile controller-->
      <object id="logFileController" type="HydrasBase.AppInterfaceImpl.LogFileController, HydrasBase" singleton="false">
        <property name="DeviceStorageController">
          <ref object="deviceStorageController"/>
        </property>
        <property name="LogFileBaseInfoController">
          <ref object="logFileBaseInfoController"/>
        </property>
        <property name="LogFileSettingFieldController">
          <ref object="logFileSettingFieldController"/>
        </property>
        <property name="LogFileParameterInfoController">
          <ref object="logFileParameterInfoController"/>
        </property>
        <property name="LogFileParameterValueController">
          <ref object="logFileParameterValueController"/>
        </property>
        <property name="CommService">
          <ref object="communicationService"/>
        </property>
        <property name="Subscriber">
          <ref object="executeInfoSubscriber"/>
        </property>
      </object>
    </objects>
  </spring>
  <userSettings>
    <HydrasUI_WPF.OptionWindowSettings>
      <setting name="aa" serializeAs="String">
        <value/>
      </setting>
    </HydrasUI_WPF.OptionWindowSettings>
    <HydrasUI_WPF.Properties.Settings>
      <setting name="online_timeInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="main_savePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="option_isScanAllPorts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="option_portList" serializeAs="String">
        <value/>
      </setting>
      <setting name="option_isAutoBaudRate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="option_baudrate" serializeAs="String">
        <value/>
      </setting>
    </HydrasUI_WPF.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
